.contact__header {
    background-image: url('../images/general-header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
}

@media screen and (max-width: 600px) {

    .contact__header {
    background-image: url('../images/option.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    max-width: 100%;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;

}
    
}



.contact__section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto 100px;
}

.contact__form {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    margin: 200px 0;
}

.contact__form h1 {
    text-align: center;
}

.field {
    margin-bottom: 50px;
}

.field__hidden {
    display: none;
}

.field input, .field textarea {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    transition: all 0.3s ease 0s;
    font-family: Muli,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
}

.field input {
    height: 40px;
}

.field label {
    font-family: Asap,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.field input:focus, .field textarea:focus {
    border-bottom: 1px solid #F06666;
}

.submit {
    text-align: center;
    padding: 0;
    margin: 30px 0;
}

@media screen and (max-width: 800px) {
    .contact__form {
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row-start: 2;
    }
}

.contact__thanks {
    margin-top: 50px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
}

.viewmore {
    font-family: Asap, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    display: block;
    text-decoration: none;
    transition: all 0.3 ease 0s;
}

.viewmore:hover{
    color:black;
}
