body {
  background-color: #126cae;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1200px;
  overflow-x: hidden;
}

.body:before {
    background-image: linear-gradient(
        to bottom, 
        rgba(10,10,10,0.6) 0%,
        rgba(10,10,10,0.6) 90%,
        rgba(10,10,10,1) 100%);
}

h1 {
  font-family: Righteous,serif;
  font-size: 40px;
  font-weight: 600px;
  line-height: 35 px;
  color: white;
}

.btn__med{
  width: 134px;
  height: 38px;
  border-radius: 5px;
  border: none;
  font-family: Muli, sans-serif;
  font-size: 14px;
  font-weight: 600px;
  transition: all 0.3s ease 0s;
  color: black;
  background-color: white;
}

.btn__med:hover{
  filter: brightness(50%);
  transform: scale(1.1);

}